@charset "UTF-8";
/* ====================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
==================================== */
/* import
============================== */
/* color-scheme
============================== */
/* font
============================== */
/* media-query
============================== */
@media only screen and (max-width: 575px) {
  .is-tab,
.is-pc {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .is-tab,
.is-pc {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .is-sp,
.is-pc {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .is-sp,
.is-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .is-sp,
.is-tab {
    display: none;
  }
}
/* function
============================== */
/* z-index
============================== */
/* common
============================== */
html {
  font-size: 16px;
  background-color: rgb(0, 10, 20);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #d2d2d2;
}

#wrapper {
  position: relative;
  z-index: 1;
}

section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
@media (min-width: 576px) and (max-width: 767px) {
  section {
    margin-bottom: 64px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  section {
    margin-bottom: 64px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section__ttl {
  font-family: "Bruno Ace", cursive;
  display: inline;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  mix-blend-mode: difference;
}
@media (min-width: 576px) and (max-width: 767px) {
  .section__ttl {
    font-size: 2.5rem;
    margin-bottom: 48px;
  }
}
@media only screen and (max-width: 575px) {
  .section__ttl {
    font-size: 2rem;
    margin-bottom: 32px;
  }
}

.section__sub-ttl {
  display: block;
  margin-bottom: 32px;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
}

.font--jp {
  font-family: "Noto Sans JP", sans-serif;
}

#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #d2d2d2;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s ease-out;
  z-index: 999;
  mix-blend-mode: difference;
}
#mouse-stalker.is-active {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease-out;
}
@media (min-width: 576px) and (max-width: 767px) {
  #mouse-stalker {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  #mouse-stalker {
    display: none;
  }
}

/* background 背景の星のアニメーション
============================== */
#particles-js--desc {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 10, 20);
}

/* splash ローディング時のアニメーション
============================== */
/* header
------------------------------ */
.header {
  font-family: "Noto Sans JP", sans-serif;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 5%;
}
.header.is-open {
  transform: translateY(-60px);
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    height: 30px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 575px) {
  .header {
    height: 30px;
    padding: 0 10px;
  }
}

.header__logo {
  font-size: 1.5rem;
  font-family: "Bruno Ace", cursive;
  line-height: 1;
}
@media (min-width: 576px) and (max-width: 767px) {
  .header__logo {
    font-size: 1.875rem;
  }
}
@media only screen and (max-width: 575px) {
  .header__logo {
    font-size: 1.875rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav.is-open {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav.is-open {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#nav__list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) and (max-width: 767px) {
  #nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  #nav__list.is-open {
    display: block;
    -webkit-animation: drawerNavAnime 0.8s ease 0.5s forwards;
            animation: drawerNavAnime 0.8s ease 0.5s forwards;
    z-index: 999;
  }
}
@media only screen and (max-width: 575px) {
  #nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  #nav__list.is-open {
    display: block;
    -webkit-animation: drawerNavAnime 0.8s ease 0.5s forwards;
            animation: drawerNavAnime 0.8s ease 0.5s forwards;
    z-index: 999;
  }
}
@-webkit-keyframes drawerNavAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drawerNavAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav__item {
  position: relative;
}
.nav__item + .nav__item {
  margin-left: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item:not(:last-child)::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 80px;
    height: 1px;
    content: "";
    transform: translateX(-50%);
    background: #7fff7d;
  }
}
@media only screen and (max-width: 575px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item:not(:last-child)::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 80px;
    height: 1px;
    content: "";
    transform: translateX(-50%);
    background: #7fff7d;
  }
}

.nav__link {
  font-size: 1rem;
  font-family: "Bruno Ace", cursive;
  position: relative;
  padding: 10px;
}
.nav__link::after {
  position: absolute;
  bottom: 5px;
  left: 25%;
  width: 50%;
  content: "";
  opacity: 0;
  border-bottom: 1px solid #7fff7d;
}
.nav__link.is-active::before, .nav__link.is-active::after {
  -webkit-animation: navHover 0.5s ease forwards;
          animation: navHover 0.5s ease forwards;
  opacity: 1;
}
@-webkit-keyframes navHover {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes navHover {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.nav__link:hover::before, .nav__link:hover::after, .nav__link:focus::before, .nav__link:focus::after {
  -webkit-animation: navHover 0.5s ease forwards;
          animation: navHover 0.5s ease forwards;
  opacity: 1;
}

.header__hamburger {
  z-index: 999;
}

.hamburger__menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}

.hamburger__icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  transition: all 0.5s ease 0s;
  background: #d2d2d2;
}
.hamburger__icon.is-open {
  width: 25px;
  transform: rotate(45deg);
}
.hamburger__icon:nth-child(1) {
  top: 6px;
}
.hamburger__icon:nth-child(1).is-open {
  top: 15px;
}
.hamburger__icon:nth-child(2) {
  top: 15px;
}
.hamburger__icon:nth-child(2).is-open {
  transform: rotate(-45deg);
}
.hamburger__icon:nth-child(3) {
  top: 24px;
}
.hamburger__icon:nth-child(3).is-open {
  top: 15px;
  transform: rotate(-405deg);
}

.drawer-background {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease 0s;
  transform: translateX(110%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
}
.drawer-background.is-open {
  transform: translateX(0);
  opacity: 1;
}

/* swiper
------------------------------ */
.swiper {
  width: 100%;
  margin-bottom: 32px;
}
.swiper figure {
  width: 100%;
  max-height: 586px;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper figure {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .swiper figure {
    border-radius: 10px;
  }
}
.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper {
    margin-bottom: 48px;
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .swiper {
    margin-bottom: 32px;
    width: 100%;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev .swiper-icon,
.swiper-button-next .swiper-icon {
  font-size: 2rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  top: 30px;
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.swiper-button-prev::before {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  z-index: 1;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-button-prev {
    left: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-button-prev {
    left: 70%;
  }
}
.swiper-button-prev:hover {
  border: 1px solid #d2d2d2;
}
.swiper-button-prev:hover::before {
  display: none;
}
.swiper-button-prev:hover .works__icon1::before {
  -webkit-animation: draw 0.3s linear forwards;
          animation: draw 0.3s linear forwards;
}
.swiper-button-prev:hover .works__icon2::before {
  -webkit-animation: draw 0.3s ease-out 0.3s forwards;
          animation: draw 0.3s ease-out 0.3s forwards;
}
.swiper-button-prev:hover .works__icon3 {
  transform: translate(-70%, -50%);
}
.swiper-button-prev .works__icon1,
.swiper-button-prev .works__icon2 {
  position: absolute;
  overflow: hidden;
  width: 55%;
  height: 110%;
  top: -5%;
}
.swiper-button-prev .works__icon1 {
  left: 50%;
}
.swiper-button-prev .works__icon2 {
  left: -5%;
}
.swiper-button-prev .works__icon1::before,
.swiper-button-prev .works__icon2::before {
  position: absolute;
  content: "";
}
.swiper-button-prev .works__icon1::before {
  width: 100%;
  height: 200%;
  background-color: rgb(0, 10, 20);
  transform-origin: 0 25%;
}
.swiper-button-prev .works__icon2::before {
  left: -10%;
  width: 110%;
  height: 120%;
  background-color: rgb(0, 10, 20);
  transform-origin: 100% 40%;
}
.swiper-button-prev .works__icon3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 10;
  color: #d2d2d2;
  transition: transform 0.3s ease 0.6s;
}

.swiper-button-next {
  top: 30px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.swiper-button-next::before {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  z-index: 1;
}
.swiper-button-next:hover {
  border: 1px solid #d2d2d2;
}
.swiper-button-next:hover::before {
  display: none;
}
.swiper-button-next:hover .works__icon1::before {
  -webkit-animation: draw 0.3s linear forwards;
          animation: draw 0.3s linear forwards;
}
.swiper-button-next:hover .works__icon2::before {
  -webkit-animation: draw 0.3s ease-out 0.3s forwards;
          animation: draw 0.3s ease-out 0.3s forwards;
}
.swiper-button-next:hover .works__icon3 {
  transform: translate(-30%, -50%);
}
.swiper-button-next .works__icon1,
.swiper-button-next .works__icon2 {
  position: absolute;
  overflow: hidden;
  width: 55%;
  height: 110%;
  top: -5%;
}
.swiper-button-next .works__icon1 {
  left: 50%;
}
.swiper-button-next .works__icon2 {
  left: -5%;
}
.swiper-button-next .works__icon1::before,
.swiper-button-next .works__icon2::before {
  position: absolute;
  content: "";
}
.swiper-button-next .works__icon1::before {
  width: 100%;
  height: 200%;
  background-color: rgb(0, 10, 20);
  transform-origin: 0 25%;
}
.swiper-button-next .works__icon2::before {
  left: -10%;
  width: 110%;
  height: 120%;
  background-color: rgb(0, 10, 20);
  transform-origin: 100% 40%;
}
.swiper-button-next .works__icon3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 10;
  color: #d2d2d2;
  transition: transform 0.3s ease 0.6s;
}

/* 円を描くアニメーション */
@-webkit-keyframes draw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes draw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* 塗りのアニメーション */
@-webkit-keyframes filling {
  0% {
    box-shadow: inset 0 0 0 9px #fff;
  }
  100% {
    box-shadow: inset 0 0 0 50px #fff;
  }
}
@keyframes filling {
  0% {
    box-shadow: inset 0 0 0 9px #fff;
  }
  100% {
    box-shadow: inset 0 0 0 50px #fff;
  }
}
/* works-description
------------------------------ */
.works-desc__container {
  position: relative;
}

@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__form {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__form {
    margin: 0 auto;
  }
}

.works-desc__row {
  display: flex;
}
.works-desc__row:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__row {
    display: block;
  }
  .works-desc__row:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__row {
    display: block;
  }
  .works-desc__row:not(:last-child) {
    margin-bottom: 16px;
  }
}

.works-desc__label {
  position: relative;
  flex: 0 0 150px;
  text-align: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__label {
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__label {
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
}

.works-desc__desc {
  flex: 1 1 600px;
  margin-left: 32px;
  line-height: 1.7;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__desc {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__desc {
    margin-left: 0;
    font-size: 0.75rem;
  }
}

.works-desc__text {
  word-wrap: break-word;
}
.works-desc__text--link {
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  display: inline-block;
}

.works-desc__comment .works-desc__text:not(:last-child) {
  margin-bottom: 16px;
}

/* footer
------------------------------ */
.footer {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 50px;
  opacity: 0.5;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    position: static;
    height: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .footer {
    position: static;
    height: 30px;
  }
}

.footer__copyright {
  font-size: 10px;
  font-family: "Bruno Ace", cursive;
  padding-top: 16px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer__copyright {
    padding-top: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .footer__copyright {
    padding-top: 8px;
  }
}