@charset "UTF-8";
/* function
============================== */
/* color-scheme
============================== */
/* font
============================== */
/* media-query
============================== */
@media only screen and (max-width: 575px) {
  .is-tab,
.is-pc {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .is-tab,
.is-pc {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .is-sp,
.is-pc {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .is-sp,
.is-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .is-sp,
.is-tab {
    display: none;
  }
}
/* z-index
============================== */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

li,
dd {
  list-style-type: none;
  list-style-type: none;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

blockquote::before,
blockquote:after {
  content: "";
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* common
============================== */
html {
  font-size: 16px;
  background-color: #000a14;
  overflow-x: hidden;
}

body {
  font-family: "Sawarabi Gothic", "Noto Sans JP", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #d2d2d2;
}
body.disable-hover {
  pointer-events: none;
}

#wrapper {
  position: relative;
  z-index: 1;
  overflow: auto;
}

section {
  overflow-x: hidden;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.section__ttl {
  font-family: "Bruno Ace", cursive;
  display: inline-block;
  font-size: clamp(2rem, 6.5vw, 5.625rem);
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.section__rect {
  position: absolute;
  inset: 0;
  background-color: #fff;
}

.section__sub-ttl {
  display: block;
  margin-bottom: 80px;
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.section__text {
  margin-bottom: 32px;
}

.section__desc {
  line-height: 2;
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.section__more {
  text-align: center;
  margin-top: 32px;
}

.more__button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  background-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
}

.font--jp {
  font-family: "Sawarabi Gothic", "Noto Sans JP", sans-serif;
}

#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #d2d2d2;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s ease-out;
  z-index: 999;
  mix-blend-mode: difference;
  box-shadow: inset 0 0 15px 0 #000a14;
}
#mouse-stalker.is-active {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease-out;
}
@media (min-width: 576px) and (max-width: 767px) {
  #mouse-stalker {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  #mouse-stalker {
    display: none;
  }
}

@-webkit-keyframes borderAnime {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes borderAnime {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* splash ローディング時のアニメーション
============================== */
/* works-description
------------------------------ */
.works-desc__container {
  position: relative;
}

@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__form {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__form {
    margin: 0 auto;
  }
}

.works-desc__row {
  display: flex;
}
.works-desc__row:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__row {
    display: block;
  }
  .works-desc__row:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__row {
    display: block;
  }
  .works-desc__row:not(:last-child) {
    margin-bottom: 16px;
  }
}

.works-desc__label {
  position: relative;
  flex: 0 0 150px;
  font-size: clamp(0.75rem, 2vw, 1rem);
  text-align: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: "Bruno Ace", cursive;
  background-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__label {
    text-align: left;
    margin-bottom: 8px;
    display: inline-block;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__label {
    text-align: left;
    margin-bottom: 8px;
    display: inline-block;
  }
}

.works-desc__desc {
  flex: 1 1 600px;
  font-size: clamp(0.75rem, 2vw, 1rem);
  margin-left: 32px;
  line-height: 1.7;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works-desc__desc {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .works-desc__desc {
    margin-left: 0;
    font-size: 0.75rem;
  }
}

.works-desc__text {
  word-wrap: break-word;
}
.works-desc__text--link {
  position: relative;
  border-bottom: 1px solid #3e3e3e;
  display: inline-block;
}
.works-desc__text--link::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid transparent;
  width: 0;
  bottom: -1px;
  left: 0;
}
.works-desc__text--link:hover {
  border-bottom: 1px solid transparent;
}
.works-desc__text--link:hover::after {
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  -webkit-animation: borderAnime 0.5s ease 0s forwards;
          animation: borderAnime 0.5s ease 0s forwards;
}

.works-desc__comment .works-desc__text:not(:last-child) {
  margin-bottom: 16px;
}

.desc-swiper {
  width: 100%;
  margin-bottom: 32px;
}
.desc-swiper figure {
  width: 100%;
  max-height: 586px;
  height: 100%;
  overflow: hidden;
}
.desc-swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 576px) and (max-width: 767px) {
  .desc-swiper {
    margin-bottom: 48px;
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .desc-swiper {
    margin-bottom: 32px;
    width: 100%;
  }
}

#desc-swiper-prev,
#desc-swiper-next {
  top: 35px;
}

/* ====================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
==================================== */
/* import
============================== */
/* splash ローディング時のアニメーション
============================== */
/* header
------------------------------ */
.header {
  font-family: "Sawarabi Gothic", "Noto Sans JP", sans-serif;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}
.header.is-open {
  transform: translateY(-60px);
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    height: 30px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 575px) {
  .header {
    height: 30px;
    padding: 0 10px;
  }
}

.header__left {
  position: relative;
  height: 50px;
}

.header__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-family: "Bruno Ace", cursive;
  line-height: 1;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 767px) {
  .header__logo {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 575px) {
  .header__logo {
    margin-top: 3px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav.is-open {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav.is-open {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#nav__list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) and (max-width: 767px) {
  #nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  #nav__list.is-open {
    display: block;
    -webkit-animation: drawerNavAnime 0.8s ease 0.5s forwards;
            animation: drawerNavAnime 0.8s ease 0.5s forwards;
    z-index: 999;
  }
}
@media only screen and (max-width: 575px) {
  #nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  #nav__list.is-open {
    display: block;
    -webkit-animation: drawerNavAnime 0.8s ease 0.5s forwards;
            animation: drawerNavAnime 0.8s ease 0.5s forwards;
    z-index: 999;
  }
}
@-webkit-keyframes drawerNavAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes drawerNavAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav__item {
  position: relative;
}
.nav__item + .nav__item {
  margin-left: 10px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item:not(:last-child)::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 80px;
    height: 1px;
    content: "";
    transform: translateX(-50%);
    background: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  }
}
@media only screen and (max-width: 575px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item:not(:last-child)::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 80px;
    height: 1px;
    content: "";
    transform: translateX(-50%);
    background: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  }
}

.nav__link {
  font-size: 1rem;
  font-family: "Bruno Ace", cursive;
  position: relative;
  padding: 10px;
}
.nav__link::after {
  position: absolute;
  bottom: 5px;
  left: 25%;
  width: 50%;
  content: "";
  opacity: 0;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
}
.nav__link.is-active {
  pointer-events: none;
}
.nav__link.is-active::after {
  -webkit-animation: navHover 0.5s ease forwards;
          animation: navHover 0.5s ease forwards;
  opacity: 1;
}
.nav__link.is-active .nav__link-en {
  opacity: 0;
}
.nav__link.is-active .nav__link-ja {
  opacity: 1;
}
.nav__link:hover::after, .nav__link:focus::after {
  -webkit-animation: navHover 0.5s ease forwards;
          animation: navHover 0.5s ease forwards;
  opacity: 1;
}
.nav__link:hover .nav__link-en, .nav__link:focus .nav__link-en {
  opacity: 0;
}
.nav__link:hover .nav__link-ja, .nav__link:focus .nav__link-ja {
  opacity: 1;
}
@-webkit-keyframes navHover {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes navHover {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.nav__link-en {
  transition: all 0.5s ease 0s;
}

.nav__link-ja {
  position: absolute;
  display: block;
  font-family: "Sawarabi Gothic", "Noto Sans JP", sans-serif;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  white-space: nowrap;
  transition: all 0.5s ease 0s;
  transform-origin: bottom;
}

.nav__contact {
  color: #fff;
  border-radius: 50px;
  background-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
}

.header__hamburger {
  z-index: 999;
  width: 30px;
  height: 30px;
}

.hamburger__menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}

.hamburger__icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  transition: all 0.5s ease 0s;
  background: #d2d2d2;
}
.hamburger__icon.is-open {
  width: 25px;
  transform: rotate(45deg);
}
.hamburger__icon:nth-child(1) {
  top: 6px;
}
.hamburger__icon:nth-child(1).is-open {
  top: 15px;
}
.hamburger__icon:nth-child(2) {
  top: 15px;
}
.hamburger__icon:nth-child(2).is-open {
  transform: rotate(-45deg);
}
.hamburger__icon:nth-child(3) {
  top: 24px;
}
.hamburger__icon:nth-child(3).is-open {
  top: 15px;
  transform: rotate(-405deg);
}

.drawer-background {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease 0s;
  transform: translateX(110%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
}
.drawer-background.is-open {
  transform: translateX(0);
  opacity: 1;
}

/* top
------------------------------ */
#top {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/index-jpg/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.top__ttl {
  position: absolute;
  top: 55%;
  left: 20px;
  font-family: "Bruno Ace", cursive;
  font-size: 2.8rem;
  overflow: hidden;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 576px) and (max-width: 767px) {
  .top__ttl {
    left: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .top__ttl {
    left: 10px;
  }
}

.top__rect {
  position: absolute;
  inset: 0;
  height: 110%;
  background-color: #fff;
}

.scrolldown {
  display: none;
  position: absolute;
  width: 15px;
  height: 90px;
  bottom: 75px;
  right: 50px;
  -webkit-animation: scrolldownMove 2s ease infinite;
          animation: scrolldownMove 2s ease infinite;
}
@-webkit-keyframes scrolldownMove {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}
@keyframes scrolldownMove {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .scrolldown {
    bottom: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .scrolldown {
    bottom: 100px;
  }
}

.scrolldown__icon {
  position: absolute;
  display: block;
  background-color: #d2d2d2;
}
.scrolldown__icon:first-of-type {
  width: 2px;
  height: 90px;
}
.scrolldown__icon:last-of-type {
  width: 20px;
  height: 2px;
  rotate: -45deg;
  bottom: 8px;
  left: -1px;
}

/* thisis
------------------------------ */
/* concept
------------------------------ */
#concept {
  width: 100%;
  position: relative;
}

.concept__bg {
  position: absolute;
  content: "";
  width: 50vw;
  height: 30.9023485785vw;
  background-image: url(../img/index-jpg/concept-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 335px;
  right: 20px;
  z-index: -1;
  transform-origin: bottom right;
}
@media (min-width: 576px) and (max-width: 767px) {
  .concept__bg {
    width: 80vw;
    height: 49.4437577256vw;
    right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .concept__bg {
    width: 80vw;
    height: 49.4437577256vw;
    right: 10px;
  }
}

.concept__container {
  width: 100%;
  margin: 0 auto;
}

.concept__wrapper {
  width: 100%;
}

.concept__desc {
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 1s ease 0s;
  margin-bottom: 24px;
  display: flex;
}
.concept__desc dt {
  flex: 0 0 400px;
}

.concept__headline {
  font-size: 2rem;
  font-family: "Bruno Ace", cursive;
}
@media (min-width: 576px) and (max-width: 767px) {
  .concept__headline {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .concept__headline {
    font-size: 1.5rem;
  }
}

.concept__sub-ttl {
  font-size: 0.75rem;
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .concept__sub-ttl {
    font-size: 0.625rem;
  }
}
@media only screen and (max-width: 575px) {
  .concept__sub-ttl {
    font-size: 0.625rem;
  }
}

.concept__text {
  margin-top: 80px;
  line-height: 1.7;
}
.concept__text a {
  display: inline-block;
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
}
@media (min-width: 576px) and (max-width: 767px) {
  .concept__text {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 575px) {
  .concept__text {
    font-size: 0.875rem;
  }
}

/* news
------------------------------ */
.news__area {
  border: 1px solid #d2d2d2;
  padding: 20px;
  box-shadow: 0 0 20px #3e3e3e;
}

.news__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #3e3e3e;
}
.news__link::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid transparent;
  width: 0;
  bottom: -1px;
  left: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  .news__link {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 575px) {
  .news__link {
    font-size: 0.75rem;
  }
}
.news__link:hover {
  border-bottom: 1px solid transparent;
  -o-border-image: none;
     border-image: none;
  border-image-slice: 0;
}
.news__link:hover::after {
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  -webkit-animation: borderAnime 0.5s ease 0s forwards;
          animation: borderAnime 0.5s ease 0s forwards;
}

.news__date {
  flex: 0 0 125px;
}

/* service
------------------------------ */
.service__container {
  margin-bottom: 32px;
}

.service__contact {
  display: inline-block;
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  position: relative;
}
.service__contact::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid transparent;
  width: 0;
  bottom: -1px;
  left: 0;
}
.service__contact:hover {
  border-bottom: 1px solid transparent;
  -o-border-image: none;
     border-image: none;
  border-image-slice: 0;
}
.service__contact:hover::after {
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  -webkit-animation: borderAnime 0.5s ease 0s forwards;
          animation: borderAnime 0.5s ease 0s forwards;
}

.service__list {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .service__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .service__list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
}

.service__contents {
  border: 1px solid transparent;
  box-shadow: 0 0 10px #3e3e3e;
  overflow: hidden;
  margin: 0;
}
.service__contents:focus {
  box-shadow: 0 0 10px #7fff7d;
}

.service__link {
  background: transparent;
  width: 100%;
  transition: all 1s ease 0s;
  transform-style: preserve-3d;
  position: relative;
}
.service__link::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.service__link.is-open .link__back {
  transform: rotateY(0);
}
.service__link.is-open .link__front {
  transform: rotateY(180deg);
}
.service__link.is-open .service__icon:nth-child(2) {
  transform: rotate(90deg);
}
.service__link:hover .service__open {
  border: 1px solid #d2d2d2;
}

.service__figure {
  margin-bottom: 16px;
  transition: all 0.2s ease 0s;
  overflow: hidden;
}

.service__img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service__head {
  color: #d2d2d2;
  text-align: left;
  margin-bottom: 8px;
}
@media only screen and (max-width: 575px) {
  .service__head {
    font-size: 0.875rem;
  }
}

.link__front,
.link__back {
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 20px;
}
@media only screen and (max-width: 575px) {
  .link__front,
.link__back {
    padding: 10px;
  }
}

.link__back {
  transform: rotateY(-180deg);
  display: flex;
  align-items: center;
}

.service__desc {
  color: #d2d2d2;
  font-size: 0.875rem;
  text-align: left;
  margin-bottom: 16px;
}
@media only screen and (max-width: 575px) {
  .service__desc {
    font-size: 0.75rem;
  }
}

.service__open {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.2s ease 0s;
}

.service__icon {
  background-color: #d2d2d2;
  transition: all 0.2s ease 0s;
  position: absolute;
}
.service__icon:nth-child(1) {
  width: 16px;
  height: 1px;
  top: 11px;
  left: 3px;
}
.service__icon:nth-child(2) {
  width: 1px;
  height: 16px;
  left: 11px;
  top: 3px;
}

/* works
------------------------------ */
.works__container {
  position: relative;
}

.works__swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide-active .works__info {
  display: block;
  opacity: 1;
}

.works__link {
  transition: all 0.2s ease 0s;
}

.works__figure {
  overflow: hidden;
  margin-bottom: 32px;
}

.works__img {
  width: 100%;
  height: 61.8%;
  max-height: 530px;
  transition: all 0.5s ease 0s;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.works__info {
  opacity: 0;
}

.works__tag {
  display: inline-block;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
  font-size: 0.75rem;
  padding: 2px 10px;
}
.works__tag + .works__tag {
  margin-left: 16px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works__tag {
    font-size: 0.625rem;
  }
  .works__tag + .works__tag {
    margin-left: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .works__tag {
    font-size: 0.625rem;
  }
  .works__tag + .works__tag {
    margin-left: 8px;
  }
}

.works__ttl {
  font-size: 1.25rem;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works__ttl {
    font-size: 1rem;
    height: 48px;
  }
}
@media only screen and (max-width: 575px) {
  .works__ttl {
    font-size: 1rem;
    height: 48px;
  }
}

.swiper__buttons {
  position: relative;
  height: 60px;
  width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
  }
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  border: 1px solid #d2d2d2;
}
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  display: none;
}
.swiper-button-prev:hover .works__icon1::before,
.swiper-button-next:hover .works__icon1::before {
  -webkit-animation: draw 0.3s linear forwards;
          animation: draw 0.3s linear forwards;
}
.swiper-button-prev:hover .works__icon2::before,
.swiper-button-next:hover .works__icon2::before {
  -webkit-animation: draw 0.3s ease-out 0.3s forwards;
          animation: draw 0.3s ease-out 0.3s forwards;
}
.swiper-button-prev .works__icon1,
.swiper-button-prev .works__icon2,
.swiper-button-next .works__icon1,
.swiper-button-next .works__icon2 {
  position: absolute;
  overflow: hidden;
  width: 55%;
  height: 110%;
  top: -5%;
}
.swiper-button-prev .works__icon1,
.swiper-button-next .works__icon1 {
  left: 50%;
}
.swiper-button-prev .works__icon2,
.swiper-button-next .works__icon2 {
  left: -5%;
}
.swiper-button-prev .works__icon1::before,
.swiper-button-prev .works__icon2::before,
.swiper-button-next .works__icon1::before,
.swiper-button-next .works__icon2::before {
  position: absolute;
  content: "";
}
.swiper-button-prev .works__icon1::before,
.swiper-button-next .works__icon1::before {
  width: 100%;
  height: 200%;
  background-color: #000a14;
  transform-origin: 0 25%;
}
.swiper-button-prev .works__icon2::before,
.swiper-button-next .works__icon2::before {
  left: -10%;
  width: 110%;
  height: 120%;
  background-color: #000a14;
  transform-origin: 100% 40%;
}
.swiper-button-prev .works__icon3,
.swiper-button-next .works__icon3 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 10;
  color: #d2d2d2;
  transition: transform 0.3s ease 0.6s;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-button-prev .works__icon3,
.swiper-button-next .works__icon3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-button-prev .works__icon3,
.swiper-button-next .works__icon3 {
    font-size: 1rem;
  }
}

.swiper-button-prev {
  left: 85%;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-button-prev {
    left: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-button-prev {
    left: 70%;
  }
}
.swiper-button-prev:hover .works__icon3 {
  transform: translate(-70%, -50%);
}

.swiper-button-next:hover .works__icon3 {
  transform: translate(-30%, -50%);
}

/* 円を描くアニメーション */
@-webkit-keyframes draw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes draw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* 塗りのアニメーション */
@-webkit-keyframes filling {
  from {
    box-shadow: inset 0 0 0 9px #fff;
  }
  to {
    box-shadow: inset 0 0 0 50px #fff;
  }
}
@keyframes filling {
  from {
    box-shadow: inset 0 0 0 9px #fff;
  }
  to {
    box-shadow: inset 0 0 0 50px #fff;
  }
}
/* blog
------------------------------ */
.blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2px;
}

.blog__contents {
  box-shadow: 0 0 10px #3e3e3e;
}

.blog__link {
  border: 1px solid transparent;
}

.blog__info {
  padding: 8px;
}

.blog__date {
  font-size: 0.75rem;
}

.blog__ttl {
  margin-bottom: 8px;
}

.blog__tag + .blog__tag {
  margin-left: 8px;
}

/* contact
------------------------------ */
#contact {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.contact__container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact__ttls {
  background-image: url(../img/index-jpg/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__ttls {
    height: 200px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__ttls {
    height: 200px;
  }
}
.contact__ttls .section__ttl,
.contact__ttls .section__sub-ttl {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__ttls .section__ttl,
.contact__ttls .section__sub-ttl {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__ttls .section__ttl,
.contact__ttls .section__sub-ttl {
    margin-left: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .contact__form {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 575px) {
  .contact__form {
    margin: 0 auto;
  }
}

.contact__list {
  text-align: center;
}

.contact__row {
  display: flex;
  margin-bottom: 48px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__row {
    display: block;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__row {
    display: block;
    margin-bottom: 32px;
  }
}

.contact__label {
  font-weight: bold;
  position: relative;
  flex: 0 0 225px;
  font-family: "Bruno Ace", cursive;
  text-align: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__label {
    text-align: left;
    padding: 0.5em 0;
    width: 150px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__label {
    text-align: left;
    padding: 0.5em 0;
    width: 125px;
  }
}

.contact__required {
  display: inline-block;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  background: none;
  font: inherit;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__required {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 575px) {
  .contact__required {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.875rem;
  }
}

.contact__input {
  flex: 1 1 600px;
  margin-left: 32px;
  position: relative;
  transition: all 0.5s ease 0s;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__input {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .contact__input {
    margin-left: 0;
  }
}
.contact__input.is-error::before, .contact__input.is-error::after {
  position: absolute;
  display: inline-block;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  line-height: 30px;
  font-size: 0.75rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__input.is-error::before, .contact__input.is-error::after {
    display: block;
    left: 0;
    transform: none;
    text-align: left;
  }
}
@media only screen and (max-width: 575px) {
  .contact__input.is-error::before, .contact__input.is-error::after {
    display: block;
    left: 0;
    transform: none;
    text-align: left;
  }
}

.name--error.is-error::before {
  content: "2文字以上で入力してください";
  width: 100%;
  -webkit-animation: errorText 0.5s ease forwards;
          animation: errorText 0.5s ease forwards;
}

.email--error.is-error::before {
  content: "半角英数字で〇〇@〇〇で入力してください";
  width: 100%;
  -webkit-animation: errorText 0.5s ease forwards;
          animation: errorText 0.5s ease forwards;
}

.textarea--error.is-error::before {
  content: "10文字以上で入力してください";
  width: 100%;
  bottom: -30px;
  -webkit-animation: errorText 0.5s ease forwards;
          animation: errorText 0.5s ease forwards;
}

@-webkit-keyframes errorText {
  from {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes errorText {
  from {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
[type=text] {
  position: relative;
  font-family: inherit;
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 2.5%;
  transition: all 0.2s ease 0s;
  border: none;
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  color: #d2d2d2;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[type=text]::-moz-placeholder {
  color: rgba(210, 210, 210, 0.7);
}
[type=text]::placeholder {
  color: rgba(210, 210, 210, 0.7);
}
[type=text].is-error {
  -o-border-image: none;
     border-image: none;
  border-image-slice: 0;
  border-bottom: 1px solid #ff7a7a;
}
@media (min-width: 576px) and (max-width: 767px) {
  [type=text] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}
@media only screen and (max-width: 575px) {
  [type=text] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}

[type=email] {
  font-family: inherit;
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 2.5%;
  transition: all 0.2s ease 0s;
  border: none;
  border-bottom: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  color: #d2d2d2;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[type=email]::-moz-placeholder {
  color: rgba(210, 210, 210, 0.7);
}
[type=email]::placeholder {
  color: rgba(210, 210, 210, 0.7);
}
[type=email].is-error {
  -o-border-image: none;
     border-image: none;
  border-image-slice: 0;
  border-bottom: 1px solid #ff7a7a;
}
@media (min-width: 576px) and (max-width: 767px) {
  [type=email] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}
@media only screen and (max-width: 575px) {
  [type=email] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}

textarea {
  font-family: inherit;
  width: 100%;
  height: 240px;
  min-height: 240px;
  padding: 2.5%;
  resize: none;
  transition: all 0.2s ease 0s;
  border: none;
  border: 1px solid #7fff7d;
  -o-border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
     border-image: linear-gradient(163deg, rgb(219, 87, 205), rgb(47, 237, 167));
  border-image-slice: 1;
  color: #d2d2d2;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea.is-error {
  border: 1px solid #ff7a7a;
  -o-border-image: none;
     border-image: none;
  border-image-slice: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  textarea {
    height: 300px;
    min-height: 100px;
    max-width: 700px;
  }
}
@media only screen and (max-width: 575px) {
  textarea {
    height: 200px;
    min-height: 100px;
    max-width: 700px;
  }
}

.contact__submit {
  font-weight: bold;
  display: inline-block;
  transition: all 0.2s ease 0s;
  text-align: center;
  background: #3e3e3e;
  border: 1px solid #7fff7d;
  border-radius: 5px;
}
.contact__submit [type=submit] {
  font-family: inherit;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: #d2d2d2;
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact__submit.is-disabled {
  pointer-events: none;
  background: #b2b2b2;
  border: 1px solid #3e3e3e;
}
@media (min-width: 1200px) {
  .contact__submit:focus-within {
    outline: none;
  }
  .contact__submit:hover {
    background: #000a14;
  }
}

.contact__message {
  display: none;
  margin-top: 32px;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
}

.contact__text {
  display: inline-block;
  padding: 20%;
  font-weight: bold;
}
.contact__text br {
  display: block;
  margin-bottom: 16px;
  content: "";
}

/* page-top
トップへ戻るアイコン
------------------------------ */
#page-top {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease 0s;
  background: transparent;
}

.page-top__icon {
  font-size: 40px;
  color: #d2d2d2;
  transition: all 0.5s ease 0s;
  opacity: 0.7;
}

/* footer
------------------------------ */
.footer {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 50px;
  opacity: 0.5;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    position: static;
    height: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .footer {
    position: static;
    height: 30px;
  }
}

.footer__copyright {
  font-size: 10px;
  font-family: "Bruno Ace", cursive;
  padding-top: 16px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer__copyright {
    padding-top: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .footer__copyright {
    padding-top: 8px;
  }
}