@use './global' as global;
@use 'base';

/* splash ローディング時のアニメーション
============================== */
// #splash {
//   position: fixed;
//   z-index: 998;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   background-color: rgba(0, 10, 20, 1);
// }

// #space {
//   width: 100%;
//   height: 100%;
//   z-index: 999;
// }

// #splash__text {
//   position: absolute;
//   z-index: inherit;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   transform: translate(-50%, -50%);
// }

// #splash__text svg {
//   height: 2px;
// }

/* works-description
------------------------------ */
#works-desc {}

.works-desc__container {
  position: relative;
}

.works-desc__ttl {}

.works-desc__form {

  @include global.mq('small') {
    margin: 0 auto;
  }

  @include global.mq('ex-small') {
    margin: 0 auto;
  }
}

.works-desc__list {}

.works-desc__row {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @include global.mq('small') {
    display: block;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include global.mq('ex-small') {
    display: block;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.works-desc__label {
  position: relative;
  flex: 0 0 150px;
  font-size: clamp(0.75rem, 2vw, 1rem);
  text-align: left;
  backface-visibility: hidden;
  font-family: global.$font-en;
  background-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include global.mq('small') {
    text-align: left;
    margin-bottom: 8px;
    display: inline-block;
  }

  @include global.mq('ex-small') {
    text-align: left;
    margin-bottom: 8px;
    display: inline-block;
  }
}

.works-desc__desc {
  flex: 1 1 600px;
  font-size: clamp(0.75rem, 2vw, 1rem);
  margin-left: 32px;
  line-height: 1.7;

  @include global.mq('small') {
    margin-left: 0;
  }

  @include global.mq('ex-small') {
    margin-left: 0;
    font-size: global.rem(12);
  }
}

.works-desc__text {
  word-wrap: break-word;

  &--link {
    position: relative;
    border-bottom: 1px solid global.$color-main;
    display: inline-block;

    &::after {
      position: absolute;
      content: '';
      border-bottom: 1px solid transparent;
      width: 0;
      bottom: -1px;
      left: 0;
    }

    &:hover {
      border-bottom: 1px solid transparent;

      &::after {
        border-bottom: 1px solid global.$color-accent1;
        border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
        border-image-slice: 1;
        animation: borderAnime .5s ease 0s forwards;
      }
    }
  }


}

.works-desc__comment {
  .works-desc__text {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

//desc-swiper
.desc-swiper {
  width: 100%;
  margin-bottom: 32px;

  figure {
    width: 100%;
    max-height: 586px;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }


  @include global.mq("small") {
    margin-bottom: 48px;
    width: 100%;
  }

  @include global.mq("ex-small") {
    margin-bottom: 32px;
    width: 100%;
  }

}

#desc-swiper-prev,
#desc-swiper-next {
  top: 35px;
}