@charset 'UTF-8';

/* ====================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
==================================== */

/* import
============================== */
// @use 'variables';
// @use 'function';
// @use 'mixin';
@use './global' as global;
@use 'reset';
@use 'base';
@use 'description';

/* splash ローディング時のアニメーション
============================== */
#splash {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(30px);
}

#splash__text {
    position: absolute;
    z-index: inherit;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: global.$font-en;
    font-size: global.rem(32);
}


/* header
------------------------------ */
.header {
    font-family: global.$font-jp;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 20px;

    @include global.mq("small") {
        height: 30px;
        padding: 0 10px;
    }

    @include global.mq("ex-small") {
        height: 30px;
        padding: 0 10px;
    }
}

.header__left {
    position: relative;
    height: 50px;
}

.header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: global.rem(24);
    font-family: global.$font-en;
    line-height: 1;
    overflow: hidden;

    @include global.mq("small") {
        margin-top: 3px;
    }

    @include global.mq("ex-small") {
        margin-top: 3px;
    }
}

.header__nav {

    @include global.mq('small') {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;

        &.is-open {
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            #nav__list {
                display: block;
                animation: drawerNavAnime .8s ease .5s forwards;
                z-index: 999;
            }
        }
    }

    @include global.mq('ex-small') {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;

        &.is-open {
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            #nav__list {
                display: block;
                animation: drawerNavAnime .8s ease .5s forwards;
                z-index: 999;
            }
        }
    }
}

#nav__list {
    display: flex;
    justify-content: space-between;

    @include global.mq('small') {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
    }

    @include global.mq('ex-small') {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
    }

    @keyframes drawerNavAnime {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.nav__item {
    position: relative;

    &+& {
        margin-left: 10px;
    }

    @include global.mq('small') {
        margin-bottom: 32px;

        &+& {
            margin-left: 0;
        }

        &:not(:last-child) {
            &::before {
                position: absolute;
                bottom: -16px;
                left: 50%;
                width: 80px;
                height: 1px;
                content: '';
                transform: translateX(-50%);
                background: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
            }
        }
    }

    @include global.mq('ex-small') {
        margin-bottom: 32px;

        &+& {
            margin-left: 0;
        }

        &:not(:last-child) {
            &::before {
                position: absolute;
                bottom: -16px;
                left: 50%;
                width: 80px;
                height: 1px;
                content: '';
                transform: translateX(-50%);
                background: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
            }
        }
    }
}

.nav__link {
    font-size: global.rem(16);
    font-family: global.$font-en;
    position: relative;
    padding: 10px;

    &::after {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 50%;
        content: '';
        opacity: 0;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
        border-image-slice: 1;
    }

    &.is-active {
        pointer-events: none;

        &::after {
            animation: navHover 0.5s ease forwards;
            opacity: 1;
        }

        .nav__link-en {
            opacity: 0;
        }

        .nav__link-ja {
            opacity: 1;
        }
    }

    &:hover,
    &:focus {

        &::after {
            animation: navHover 0.5s ease forwards;
            opacity: 1;
        }

        .nav__link-en {
            opacity: 0;
        }

        .nav__link-ja {
            opacity: 1;
        }
    }

    @keyframes navHover {
        from {
            width: 0;
        }

        to {
            width: 50%;
        }
    }
}

.nav__link-en {
    transition: all 0.5s ease 0s;
    // text-shadow: -1px -1px 0 global.$color-main, -1px 0 0 global.$color-main, -1px 1px 0 global.$color-main,
    //     0 -1px 0 global.$color-main, 0 1px 0 global.$color-main,
    //     1px -1px 0 global.$color-main, 1px 0 0 global.$color-main, 1px 1px 0 global.$color-main;
}

.nav__link-ja {
    position: absolute;
    display: block;
    font-family: global.$font-jp;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    white-space: nowrap;
    transition: all 0.5s ease 0s;
    transform-origin: bottom;
    // text-shadow: -1px -1px 0 global.$color-main, -1px 0 0 global.$color-main, -1px 1px 0 global.$color-main,
    //     0 -1px 0 global.$color-main, 0 1px 0 global.$color-main,
    //     1px -1px 0 global.$color-main, 1px 0 0 global.$color-main, 1px 1px 0 global.$color-main;
}

.nav__contact {
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
}

.header__hamburger {
    z-index: 999;
    width: 30px;
    height: 30px;
}

.hamburger__menu {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;

    &.is-open {
        .hamburger__icon {
            width: 25px;
            transform: rotate(45deg);

            &:nth-child(1) {
                top: 15px;
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }

            &:nth-child(3) {
                top: 15px;
                transform: rotate(-405deg);
            }
        }
    }
}

.hamburger__icon {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    transition: all 0.5s ease 0s;
    background: global.$color-background;

    &:nth-child(1) {
        top: 6px;
    }

    &:nth-child(2) {
        top: 15px;
    }

    &:nth-child(3) {
        top: 24px;
    }
}

.drawer-background {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease 0s;
    transform: translateX(110%);
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);

    &.is-open {
        transform: translateX(0);
        opacity: 1;
    }
}

/* top
------------------------------ */
#top {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/index-jpg/top-bg.jpg);
    // background-color: global.$color-gradation2;
    // background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top__ttl {
    position: absolute;
    top: 55%;
    left: 20px;
    font-family: global.$font-en;
    font-size: 2.8rem;
    padding: 4px;
    overflow: hidden;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include global.mq("small") {
        left: 10px;
    }

    @include global.mq("ex-small") {
        left: 10px;
    }
}

.top__rect {
    position: absolute;
    inset: 0;
    height: 110%;
    background-color: #fff;
}

// スクロール可能を示すアイコンのアニメーション
.scrolldown {
    display: none;
    position: absolute;
    width: 15px;
    height: 90px;
    bottom: 75px;
    right: 50px;
    animation: scrolldownMove 2s ease infinite;

    @keyframes scrolldownMove {
        0% {
            opacity: 0;
        }

        50% {
            transform: translateY(20px);
            opacity: 1;
        }

        100% {
            transform: translateY(40px);
            opacity: 0;
        }
    }

    @include global.mq("small") {
        bottom: 100px;
    }

    @include global.mq("ex-small") {
        bottom: 100px;
    }
}

.scrolldown__icon {
    position: absolute;
    display: block;
    background-color: global.$color-background;

    &:first-of-type {
        width: 2px;
        height: 90px;
    }

    &:last-of-type {
        width: 20px;
        height: 2px;
        rotate: -45deg;
        bottom: 8px;
        left: -1px;
    }
}

/* thisis
------------------------------ */
#thisis {
    // background-color: global.$color-background;
    // color: global.$color-main;
}

.thisis__container {}

.thisis__text {}

/* concept
------------------------------ */
#concept {
    width: 100%;
    position: relative;
}

.concept__container {
    width: 100%;
    margin: 0 auto;
}

.concept__bg {
    position: absolute;
    content: '';
    width: 50vw;
    height: global.goldenRatio(50vw);
    background-image: url(../img/index-jpg/concept-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 335px;
    right: 100px;
    // transform: translateX(-50%);
    z-index: -1;
    // transform-origin: bottom right;

    @include global.mq("small") {
        width: 80vw;
        height: global.goldenRatio(80vw);
        right: 10px;
    }

    @include global.mq("ex-small") {
        width: 80vw;
        height: global.goldenRatio(80vw);
        right: 10px;
    }
}

.concept__wrapper {
    width: 100%;
}

.concept__desc {
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: all 1s ease 0s;
    margin-bottom: 24px;
    display: flex;

    dt {
        flex: 0 0 400px;
    }
}

.concept__headline {
    font-size: global.rem(32);
    font-family: global.$font-en;

    @include global.mq('small') {
        font-size: global.rem(24);
    }

    @include global.mq('ex-small') {
        font-size: global.rem(24);
    }
}

.concept__sub-ttl {
    font-size: global.rem(12);
    margin-bottom: 32px;

    @include global.mq('small') {
        font-size: global.rem(10);
    }

    @include global.mq('ex-small') {
        font-size: global.rem(10);
    }
}

.concept__text {
    margin-top: 80px;
    line-height: 1.7;

    a {
        display: inline-block;
        border-bottom: 1px solid global.$color-accent1;
        border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
        border-image-slice: 1;
    }

    @include global.mq('small') {
        font-size: global.rem(14);
    }

    @include global.mq('ex-small') {
        font-size: global.rem(14);
    }
}

/* news
------------------------------ */
.news__area {
    border: 1px solid global.$color-background;
    padding: 20px;
    box-shadow: 0 0 20px global.$color-main;
}

.news__link {
    display: flex;
    align-items: center;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid global.$color-main;

    &::after {
        position: absolute;
        content: '';
        border-bottom: 1px solid transparent;
        width: 0;
        bottom: -1px;
        left: 0;
    }

    @include global.mq("small") {
        font-size: global.rem(12);
    }

    @include global.mq("ex-small") {
        font-size: global.rem(12);
    }

    &:hover {
        border-bottom: 1px solid transparent;
        border-image: none;
        border-image-slice: 0;

        &::after {
            border-bottom: 1px solid global.$color-accent1;
            border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
            border-image-slice: 1;
            animation: borderAnime .5s ease 0s forwards;
        }
    }
}

.news__date {
    flex: 0 0 125px;
}

.news__ttl {}

/* service
------------------------------ */
#service {}

.service__container {
    margin-bottom: 32px;
}

.service__contact {
    display: inline-block;
    border-bottom: 1px solid global.$color-accent1;
    border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
    border-image-slice: 1;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        border-bottom: 1px solid transparent;
        width: 0;
        bottom: -1px;
        left: 0;
    }

    &:hover {
        border-bottom: 1px solid transparent;
        border-image: none;
        border-image-slice: 0;

        &::after {
            border-bottom: 1px solid global.$color-accent1;
            border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
            border-image-slice: 1;
            animation: borderAnime .5s ease 0s forwards;
        }
    }
}

.service__list {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2px;

    @include global.mq("small") {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }

    @include global.mq("ex-small") {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }
}

.service__contents {
    border: 1px solid transparent;
    box-shadow: 0 0 10px global.$color-main;
    overflow: hidden;
    margin: 0;

    &:focus {
        box-shadow: 0 0 10px global.$color-accent1;
    }
}

.service__link {
    background: transparent;
    width: 100%;
    transition: all 1s ease 0s;
    transform-style: preserve-3d;
    position: relative;

    &::before {
        content: "";
        display: block;
        padding-top: 75%;
    }

    &.is-open {
        .link__back {
            transform: rotateY(0);
        }

        .link__front {
            transform: rotateY(180deg);
        }

        .service__icon {
            &:nth-child(2) {
                transform: rotate(90deg);
            }
        }
    }

    &:hover {
        .service__open {
            border: 1px solid global.$color-background;
        }
    }
}

.service__figure {
    margin-bottom: 16px;
    transition: all 0.2s ease 0s;
    overflow: hidden;
    width: 100%;
    height: 150px;
    position: relative;
    perspective: 50em;
}

.service__img {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.service__head {
    color: global.$color-background;
    text-align: left;
    margin-bottom: 8px;

    @include global.mq("small") {}

    @include global.mq("ex-small") {
        font-size: global.rem(14);
    }
}

.link__front,
.link__back {
    transition: all .5s ease;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    padding: 20px;

    @include global.mq("ex-small") {
        padding: 10px;
    }
}

.link__back {
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
}

.service__desc {
    color: global.$color-background;
    font-size: global.rem(14);
    text-align: left;
    margin-bottom: 16px;

    @include global.mq("ex-small") {
        font-size: global.rem(12);
    }
}

.service__open {
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all .2s ease 0s;
}

.service__icon {
    background-color: global.$color-background;
    transition: all .2s ease 0s;
    position: absolute;

    &:nth-child(1) {
        width: 16px;
        height: 1px;
        top: 11px;
        left: 3px;
    }

    &:nth-child(2) {
        width: 1px;
        height: 16px;
        left: 11px;
        top: 3px;
    }
}

/* works
------------------------------ */
#works {}

.works__container {
    position: relative;

}

.works__swiper {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {}

.swiper-slide {
    &-active {
        .works__info {
            display: block;
            opacity: 1;
        }
    }
}

.works__link {
    transition: all 0.2s ease 0s;

}

.works__figure {
    overflow: hidden;
    margin-bottom: 32px;

    img {
        width: 100%;
        height: 61.8%;
        max-height: 530px;
        transition: all 0.5s ease 0s;
        object-fit: cover;
    }
}

.works__info {
    // display: none;
    opacity: 0;
}

.works__tag {
    display: inline-block;
    border: 1px solid global.$color-background;
    border-radius: 50px;
    font-size: global.rem(12);
    padding: 2px 10px;

    &+& {
        margin-left: 16px;
    }

    @include global.mq("small") {
        font-size: global.rem(10);

        &+& {
            margin-left: 8px;
        }
    }

    @include global.mq("ex-small") {
        font-size: global.rem(10);

        &+& {
            margin-left: 8px;
        }
    }
}

.works__ttl {
    font-size: global.rem(20);
    margin-bottom: 16px;

    @include global.mq("small") {
        font-size: global.rem(16);
        height: 48px;
    }

    @include global.mq("ex-small") {
        font-size: global.rem(16);
        height: 48px;
    }
}

// swiper
.swiper__buttons {
    position: relative;
    height: 60px;
    width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease 0s;

    &::after {
        position: absolute;
        content: '';
        inset: 0;
        border: 1px solid global.$color-disable;
        border-radius: 50%;
    }

    @include global.mq("small") {
        width: 40px;
        height: 40px;
    }

    @include global.mq("ex-small") {
        width: 40px;
        height: 40px;
    }

    &:hover {
        border: 1px solid global.$color-background;
        // animation: filling 0.2s ease-in 0.8s forwards;

        &::after {
            display: none;
        }

        .works__icon1::before {
            animation: draw .3s linear forwards;
        }

        .works__icon2::before {
            animation: draw .3s ease-out .3s forwards;
        }
    }

    .works__icon1,
    .works__icon2 {
        position: absolute;
        overflow: hidden;
        width: 55%;
        height: 110%;
        top: -5%;
    }

    .works__icon1 {
        left: 50%;
    }

    .works__icon2 {
        left: -5%;
    }

    .works__icon1::before,
    .works__icon2::before {
        position: absolute;
        content: '';
    }

    .works__icon1::before {
        width: 100%;
        height: 200%;
        background-color: global.$color-space;
        transform-origin: 0 25%;
    }

    .works__icon2::before {
        left: -10%;
        width: 110%;
        height: 120%;
        background-color: global.$color-space;
        transform-origin: 100% 40%;
    }

    .works__icon3 {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: global.rem(24);
        z-index: 10;
        color: global.$color-background;
        transition: transform .3s ease .6s;

        @include global.mq("small") {
            font-size: global.rem(16);
        }

        @include global.mq("ex-small") {
            font-size: global.rem(16);
        }
    }
}

.swiper-button-prev {
    left: 85%;

    @include global.mq("small") {
        left: 80%;
    }

    @include global.mq("ex-small") {
        left: 70%;
    }

    &:hover {
        .works__icon3 {
            transform: translate(-70%, -50%);
        }
    }
}

.swiper-button-next {
    &:hover {
        .works__icon3 {
            transform: translate(-30%, -50%);
        }
    }
}

/* 円を描くアニメーション */
@keyframes draw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/* 塗りのアニメーション */
@keyframes filling {
    from {
        box-shadow: inset 0 0 0 9px #fff;
    }

    to {
        box-shadow: inset 0 0 0 50px #fff;
    }
}

/* blog
------------------------------ */
#blog {}

.blog__container {}

.blog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2px;
}

.blog__contents {
    box-shadow: 0 0 10px global.$color-main;
}

.blog__link {
    border: 1px solid transparent;
}

.blog__figure {}

.blog__img {}

.blog__info {
    padding: 8px;
}

.blog__date {
    font-size: global.rem(12);
}

.blog__ttl {
    margin-bottom: 8px;
}

.blog__tags {}

.blog__tag {
    &+& {
        margin-left: 8px;
    }
}

/* contact
------------------------------ */
#contact {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.contact__container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    @include global.mq("small") {
        padding-left: 10px;
        padding-right: 10px;
    }

    @include global.mq("ex-small") {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contact__ttls {
    background-image: url(../img/index-jpg/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;

    @include global.mq("small") {
        height: 200px;
    }

    @include global.mq("ex-small") {
        height: 200px;
    }

    .section__ttl,
    .section__sub-ttl {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

        @include global.mq("small") {
            margin-left: 10px;
        }

        @include global.mq("ex-small") {
            margin-left: 10px;
        }
    }

}

.contact__form {

    @include global.mq('small') {
        margin: 0 auto;
    }

    @include global.mq('ex-small') {
        margin: 0 auto;
    }
}

.contact__list {
    text-align: center;
}

.contact__row {
    display: flex;
    margin-bottom: 48px;

    @include global.mq('small') {
        display: block;
        margin-bottom: 32px;
    }

    @include global.mq('ex-small') {
        display: block;
        margin-bottom: 32px;
    }
}

.contact__label {
    font-weight: bold;
    position: relative;
    flex: 0 0 225px;
    font-family: global.$font-en;
    text-align: left;
    backface-visibility: hidden;
    perspective: 1000; //正の値
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include global.mq('small') {
        text-align: left;
        padding: 0.5em 0;
        width: 150px;
    }

    @include global.mq('ex-small') {
        text-align: left;
        padding: 0.5em 0;
        width: 125px;
    }
}

.contact__required {
    display: inline-block;
    border: 1px solid global.$color-background;
    border-radius: 50%;
    background: none;
    font: inherit;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;

    @include global.mq("small") {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: global.rem(14);
    }

    @include global.mq("ex-small") {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: global.rem(14);
    }
}

.contact__input {
    flex: 1 1 600px;
    margin-left: 32px;
    position: relative;
    transition: all 0.5s ease 0s;

    @include global.mq('small') {
        margin-left: 0;
    }

    @include global.mq('ex-small') {
        margin-left: 0;
    }

    &.is-error {

        &::before,
        &::after {
            position: absolute;
            display: inline-block;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            height: 30px;
            line-height: 30px;
            font-size: global.rem(12);

            @include global.mq("small") {
                display: block;
                left: 0;
                transform: none;
                text-align: left;
            }

            @include global.mq("ex-small") {
                display: block;
                left: 0;
                transform: none;
                text-align: left;
            }
        }
    }
}

// 入力エラー時のメッセージ
.name--error {
    &.is-error {
        &::before {
            content: '2文字以上で入力してください';
            width: 100%;
            animation: errorText 0.5s ease forwards;
        }
    }
}

.email--error {
    &.is-error {
        &::before {
            content: '半角英数字で〇〇@〇〇で入力してください';
            width: 100%;
            animation: errorText 0.5s ease forwards;
        }
    }
}

.textarea--error {
    &.is-error {
        &::before {
            content: '10文字以上で入力してください';
            width: 100%;
            bottom: -30px;
            animation: errorText 0.5s ease forwards;
        }
    }
}

@keyframes errorText {
    from {
        opacity: 0;
    }

    50% {
        opacity: 50%;
    }

    to {
        opacity: 100%;
    }
}

[type='text'] {
    position: relative;
    font-family: inherit;
    line-height: 40px;
    width: 100%;
    height: 40px;
    padding: 2.5%;
    transition: all 0.2s ease 0s;
    border: none;
    border-bottom: 1px solid global.$color-accent1;
    border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
    border-image-slice: 1;
    color: global.$color-background;
    background: transparent;
    box-shadow: none;
    appearance: none;

    &::placeholder {
        color: rgba(global.$color-background, .7);
    }

    &.is-error {
        border-image: none;
        border-image-slice: 0;
        border-bottom: 1px solid global.$color-accent2;
    }

    @include global.mq("small") {
        height: 30px;
        line-height: 30px;
        padding: 2.5% 2.5% 2.5% 0;
    }

    @include global.mq("ex-small") {
        height: 30px;
        line-height: 30px;
        padding: 2.5% 2.5% 2.5% 0;
    }
}

[type='email'] {
    font-family: inherit;
    line-height: 40px;
    width: 100%;
    height: 40px;
    padding: 2.5%;
    transition: all 0.2s ease 0s;
    border: none;
    border-bottom: 1px solid global.$color-accent1;
    border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
    border-image-slice: 1;
    color: global.$color-background;
    background: transparent;
    box-shadow: none;
    appearance: none;

    &::placeholder {
        color: rgba(global.$color-background, .7);
    }

    &.is-error {
        border-image: none;
        border-image-slice: 0;
        border-bottom: 1px solid global.$color-accent2;
    }

    @include global.mq('small') {
        height: 30px;
        line-height: 30px;
        padding: 2.5% 2.5% 2.5% 0;
    }

    @include global.mq('ex-small') {
        height: 30px;
        line-height: 30px;
        padding: 2.5% 2.5% 2.5% 0;
    }
}

textarea {
    font-family: inherit;
    width: 100%;
    height: 240px;
    min-height: 240px;
    padding: 2.5%;
    resize: none;
    transition: all 0.2s ease 0s;
    border: none;
    border: 1px solid global.$color-accent1;
    border-image: linear-gradient(163deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
    border-image-slice: 1;
    color: global.$color-background;
    background: transparent;
    box-shadow: none;
    appearance: none;

    &.is-error {
        border: 1px solid global.$color-accent2;
        border-image: none;
        border-image-slice: 0;
    }

    @include global.mq('small') {
        height: 300px;
        min-height: 100px;
        max-width: 700px;
    }

    @include global.mq('ex-small') {
        height: 200px;
        min-height: 100px;
        max-width: 700px;
    }
}

.contact__submit {
    font-weight: bold;
    display: inline-block;
    transition: all 0.2s ease 0s;
    text-align: center;
    background: global.$color-main;
    border: 1px solid global.$color-accent1;
    border-radius: 5px;

    [type='submit'] {
        font-family: inherit;
        padding: 10px;
        width: 200px;
        text-align: center;
        color: global.$color-background;
        border: none;
        background: transparent;
        box-shadow: none;
        appearance: none;
    }

    &.is-disabled {
        pointer-events: none;
        background: global.$color-disable;
        border: 1px solid global.$color-main;
    }

    @include global.mq('ex-large') {
        &:focus-within {
            outline: none;
        }

        &:hover {
            background: global.$color-space;
        }
    }
}

// 送信後に表示されるメッセージ
.contact__message {
    display: none;
    margin-top: 32px;
    text-align: center;
    background: rgba(0, 0, 0, 0.95);
}

.contact__text {
    display: inline-block;
    padding: 20%;
    font-weight: bold;

    br {
        display: block;
        margin-bottom: 16px;
        content: '';
    }
}

/* page-top
トップへ戻るアイコン
------------------------------ */
#page-top {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease 0s;
    background: transparent;
}

.page-top__icon {
    font-size: 40px;
    color: global.$color-background;
    transition: all 0.5s ease 0s;
    opacity: 0.7;
}

/* footer
------------------------------ */
.footer {
    position: fixed;
    z-index: 50;
    bottom: 0;
    width: 100%;
    height: 50px;
    opacity: 0.5;

    @include global.mq("small") {
        position: static;
        height: 30px;
    }

    @include global.mq("ex-small") {
        position: static;
        height: 30px;
    }
}

.footer__copyright {
    font-size: 10px;
    font-family: global.$font-en;
    padding-top: 16px;
    text-align: center;

    @include global.mq("small") {
        padding-top: 8px;
    }

    @include global.mq("ex-small") {
        padding-top: 8px;
    }
}