@use '../global' as global;
@use '../foundation';

.column {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @include global.mq("small") {
    flex-direction: column;
    gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include global.mq("ex-small") {
    flex-direction: column;
    gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.column__main {
  flex: 660px 0 1;

  @include global.mq("small") {
    width: 100%;
  }

  @include global.mq("ex-small") {
    width: 100%;
  }
}

.column__side {
  flex: 310px 0 1;
  box-shadow: 0 0 10px global.$color-main;
  padding: 10px;

  @include global.mq("small") {
    width: 100%;
  }

  @include global.mq("ex-small") {
    width: 100%;
  }
}